.container
  .hero-unit
    h1 TopGun-JS Online!
    p
      | Create or join into your favourite air-force base.<br/> 
      | Fight with another people to defend and increase your terriority.<br/>
      | Attack, defend or stay it depend on your strategy!
    p
      a.btn(href='/zone').primary.large Play now &raquo;

  .row
    .span5
      h2 Free Multiplayer 
      p
       | You have several missile.<br>
       | Great speed for chasing.<br>
       |  Flare for dodge enemy attacks.<br>
    .span6
      h2 Use Real Location 
      p
        | Fighting on real area, real country.<br>
        | Use real latitude &amp; longitude.<br>
        | Indonesia is default area of war.
  
    .span5
      h2 Start Now
      p
        | What are you waiting for ? 
      p
        a.btn(href='/zone') Play Now! &raquo;
  
      
  footer
    p Created by 
      a(href='http://twitter.com/yodiaditya') @yodiaditya
      | <br>
      | Need contact ? my email is anaknewbie at gmail dot com <br>
      | <br>
      | Grab this site source code on 
      a(href="http://github.com/yodiaditya/topgun") TopGun Github 
