.container
  .hero-unit
    #setup-map
  
  .row.setup-map
    .span6
      h2 East 
      p
        | Fighter : 20 people<br> 
        | Status : Full 
      p
        a.btn(href='#', class='danger') Join &raquo;
    .span5
      h2 Center 
      p
        | Fighter : 20 people<br> 
        | Status : Full 
      p
        a.btn(href='#', class='danger') Join &raquo;
    .span5
      h2 West 
      p
        | Fighter : 20 people<br> 
        | Status : Full 
      p
        a.btn(href='#', class='danger') Join &raquo;

  
  .row.setup-ammo
    .span6.setup-map
      h2 SU-10
      .row
        .span1
          img(src='../images/fighter-1.png')
        .span4
          | Designed for fast fighter. <br>
          | Ammo : 150 bullets &amp; 10 rudals.<br>
          | Speed : Run 3x faster than F-57.
          | Defend : 80 blocks.

      .clearfix
        a.btn(href='#', class='danger setup-plane') Launch &raquo;
    
    .span6.setup-map
      h2 F-57
      .row
        .span1
          img(src='../images/fighter-2.png')
        .span4
          | Designed for attacker fighter.<br>
          | Ammo : 250 bullets &amp; 20 rudals.<br>
          | Speed : Slow.<br>
          | Defend : 80 blocks.
      
      .clearfix
        a.btn(href='#', class='danger setup-plane') Launch &raquo;
