@import 'bootstrap.min.css'
  
body
    color #404040
    font-family "Helvetica Neue",Helvetica,Arial,sans-serif
    font-size 13px
    font-weight normal
    line-height 18px
    margin 0

.container 
    margin-left auto
    margin-right auto
    width 940px
    padding-top 60px

.hero-unit 
  background url(../images/front.png) no-repeat
  color #CDF5FF
  
.hero-unit h1 
  font-size 50px
  color #FFFFFF
  letter-spacing -1px
  line-height 1
  margin-bottom 20px 

