@import "bootstrap.min.css";
html{background-color:#000}
body{color:#cacaca;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px;margin:0;background-color:#000}
.container{margin-left:auto;margin-right:auto;width:940px;padding-top:60px}
.hero-unit{background-color:#000;color:#cdf5ff;margin:0;padding:0}
.hero-unit h1{font-size:50px;color:#fff;letter-spacing:-1px;line-height:1;margin-bottom:20px}
.row{margin-left:0}
.setup-map{margin-bottom:20px}
.setup-map h2{color:#fff}
.setup-plane{margin-top:20px}
#planemap{margin-left:20px;clear:both}
#mapbox-wrap{height:300px;width:300px;overflow:hidden;background:url("../images/radar.png")}
#mapbox{width:300px;height:300px;float:left;color:#000;background:none}
#setup-map{background:url("../images/map.png");height:320px;width:939px;margin-bottom:20px}
#mapbox img#centerplane{margin-left:135px;margin-top:135px;position:absolute}
#mapbox .mapplayer{position:absolute;background:url("../images/plane.png") no-repeat;width:10px;height:10px}
.mapenemy{position:absolute;background:url("../images/enemy.png") no-repeat;width:10px;height:10px}
#frontplane img{float:left;width:590px;height:150px}
#frontview{position:absolute;float:left}
#ruler{float:left;position:absolute;border:1px solid #202020;width:20px;height:20px;margin-top:65px;margin-left:280px}
